_Autor:_    __Jesús Casado__ <br> _Revisión:_ __28/01/2019__ <br>


__Descripción__:<br>
Se extraen los datos del SAIH Cantábrico para las estaciones fuera de Cantabria. Los datos extraídos se tratan para unificar los formatos antes y después de junio de 2015 y se exportan en una serie única para cada estación.

__Cosas a corregir__ <br>


__Índice__<br>

__[1. Funciones](#1.-Funciones)__<br>
[Mualem_vanGenuchten](#Mualem_vanGenuchten)<br>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-dark')
%matplotlib inline
from simpledbf import Dbf5
import os
from datetime import datetime, timedelta

In [2]:
%run funciones_seriesCHC.ipynb

### Estaciones fuera de Cantabria

In [3]:
# rutas de los datos originales y donde exportar los datos tratados
rutaOrig = 'F:/OneDrive - Universidad de Cantabria/Series/CHC/SAI/originales/noCantabria/'
rutaExp = 'F:/OneDrive - Universidad de Cantabria/Series/CHC/SAI/tratadas/'

__Crear carpetas antes de 2015__

In [4]:
ruta1 = rutaOrig + 'Hasta junio de 2015/'
os.chdir(ruta1)

# encontrar archivos csv
files = []
for file in os.listdir(ruta1):
    if file[-3:] == 'csv':
        files.append(file)

# Crear carpeta de cada estación y mover archivos a la carpeta correspondiente
stns1 = []
for file in files:
    stn = file[:4]
    if stn not in stns1:
        stns1.append(stn)
        if not os.path.exists(stn):
            os.makedirs(stn)
    os.rename(ruta1 + file, ruta1 + '/' + stn + '/' + file)

__Crear carpetas desde 2015__

In [5]:
ruta2 = rutaOrig + 'Desde julio de 2015/'
os.chdir(ruta2)

# encontrar archivos csv
files = []
for file in os.listdir(ruta2):
    if file[-3:] == 'csv':
        files.append(file)

# Crear carpeta de cada estación y mover archivos a la carpeta correspondiente
stns2 = []
for file in files:
    stn = file[8:12]
    if stn not in stns2:
        stns2.append(stn)
        if not os.path.exists(stn):
            os.makedirs(stn)
    os.rename(ruta2 + file, ruta2 + '/' + stn + '/' + file)

In [6]:
# unir estaciones de los dos periodos
stns1 = os.listdir(ruta1)
stns2 = os.listdir(ruta2)
stns = list(set(stns1 + stns2))
stns.sort()

print('nº de estaciones:', len(stns))

nº de estaciones: 55

In [7]:
# Extraer, tratar y exportar las series estación a estación
for i, stn in enumerate(stns[:1]):
    print('estación ', str(stn), '\t(', i+1, ' de ', len(stns), ')', sep='')
    try:
        SAIH_CHC_2018(stn, rutaOrig, freq='1D', export_orig=True, rutaexp=rutaExp)
    except:
        print('ERROR en estación', stn)
        print()
        continue
    print()

estación A047	(1 de 55)
nº de días de las serie:	 3896
variables:	 ['caudal_m³/s', 'nivel_m', 'precipitacion_mm', 'temperatura_ºC']

In [8]:
redondeo = {'precipitacion_mm': 1, 'caudal_m³/s': 2, 'nivel_m': 2,
            'temperatura_ºC': 1, 'amonio_mg/l': 2, 'conductividad_μS/cm': 0,
            'oxigeno_mg/l': 1, 'pH': 1, 'temperaturaAgua_ºC': 1,
            'turbidez_NTU': 0}

In [9]:
aux = pd.read_csv(rutaExp + '5min/' + 'A047.csv', encoding='latin1', parse_dates=True,
            index_col=0)

In [18]:
aux[(aux['temperatura_ºC'] > 50) | (aux['temperatura_ºC'] < -50)].shape

(11863, 4)

In [21]:
aux[(aux['precipitacion_mm'] < 0)]

Empty DataFrame
Columns: [caudal_m³/s, nivel_m, precipitacion_mm, temperatura_ºC]
Index: []

In [23]:
aux[(aux['caudal_m³/s'] < 0)]

Empty DataFrame
Columns: [caudal_m³/s, nivel_m, precipitacion_mm, temperatura_ºC]
Index: []

In [27]:
aux[(aux['nivel_m'] > 10)]

                     caudal_m³/s  nivel_m  precipitacion_mm  temperatura_ºC
Fecha
2008-01-30 12:45:00          0.0  7000.00             94.00         70000.0
2008-01-30 12:50:00          0.0  7000.00             94.00         70000.0
2015-05-19 17:10:00          0.0    12.00              0.00           -30.0
2015-05-19 17:15:00          0.0    12.00              0.00           -30.0
2015-05-19 17:20:00          0.0    12.00              0.00           -30.0
2015-05-19 17:25:00          0.0    12.00              0.00           -30.0
2015-05-19 17:30:00          0.0    12.00              0.00           -30.0
2015-05-19 17:35:00          0.0    12.00              0.00           -30.0
2015-05-19 17:40:00          0.0    12.00              0.00           -30.0
2015-05-19 17:45:00          0.0    12.00              0.00           -30.0
2015-05-19 18:00:00          0.0    17.82              0.01           -30.0
2015-05-19 18:10:00          0.0    12.32              0.00           -30.0